.status-bar {
  font-size: 18px;
  margin-bottom: 80px;
  font-weight: 500;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.status-bar__culumn {
  width: 33%;
  align-items: center;
}
.status-bar__culumn:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__culumn:last-child {
  display: flex;
  justify-content: flex-end;
}
.status-bar__culumn .fa-battery-half {
  margin: 0px 6px;
  font-size: 22px;
}
.status-bar__culumn .fa-wifi {
  margin-left: 6px;
  font-size: 12px;
}
.status-bar__culumn .fa-bolt {
  font-size: 14px;
}
.status-bar__culumn > span {
  font-size: 16px;
}
